
  <h1>Welcome to Dessertglam!</h1><br>
  <h1>Log In</h1>
  <% provide(:title, "Log in") %>

  <div class="row">
   <div class="col-md-6 col-md-offset-3">
     <%= form_with url: login_path, local: true do |f| %>

       <%= f.label :username %>
       <%= f.text_field :username%>

       <%= f.label :password %>
       <%= f.password_field :password%>

       <%= f.submit "Log in", class: "btn btn-primary" %>
     <% end %>

   </div>
  </div>

<br>
<br>
<br>
<h2>  <%= link_to "Sign Up!", "/signup" %> </h2>
