<h1> <%= @user.username %> </h1>


<div class="wrapper"
<%@pictures.each do |picture|%>
    <br>
    <br>
    <%= link_to image_tag(picture.img_url), picture_path(picture)  %> <br>
    <br>
<%end%>
</div>

<div class="view">

<%= link_to "View Other Users", users_path %><br>

<%= link_to "Add Pic", new_picture_path(:picture => {:user_id => @user.id}) %>


<br>


<%=link_to "Logout", logout_path, method: :delete%>
</div>
