<% if @logged_in%>
<h1>Welcome to <%= @user.username %>'s Glam World!</h1>


<div class="wrapper"
<%@pictures.each do |picture|%>
    <br>
    <br>
    <%= link_to image_tag(picture.img_url), picture_path(picture)  %> <br>
    <br>
<%end%>
</div>

<div class="view">

<%= link_to "View Other Users", users_path %><br>


  <%= link_to "Add Pic", new_picture_path(:picture => {:user_id => @user.id}) %>

  <br>
  <%=link_to "Logout", logout_path, method: :delete%>

</div>
<%end%>

<% if @logged_in == false%>
<%= @user.username %> would love it if you joined us!
 <%= link_to "Sign up", "/signup" %> now!
 <br>
 If you already have an account, please <%= link_to "Log in", "/login" %>!
 <% end %>
