<h1><%=link_to @picture.user.username, @picture.user%></h1>


<h2><%=@picture.title%></h2>


<%=image_tag(@picture.img_url) %>

<br>
<br>

<%@picture.tags.each do |tag|%>
#<%=link_to tag.name, tag %>
<%end %>

<%= form_for @picture_tag do |f|%>
<%= f.hidden_field :picture_id, value: @picture.id%>
Yum?
<%= f.collection_select :tag_id, @tags, :id, :name %>
<%= f.submit "Rate" %>
<% end %>
<br>
<br>



<%@picture.comments.each do |comment|%>
<%=link_to comment.user.username, comment.user %> :
<%= comment.content %>
<br>
<% end %>

<br>
<br>

<%=form_for @comment do |f| %>
<%=f.label "Comment"  %>
<%=f.text_field :content%>
<%=f.hidden_field :user_id, value: @loggeduser.id %>
<%=f.hidden_field :picture_id, value: @picture.id %>
<%=f.submit %>
<% end %>


<% if @loggeduser == @user %>
<%= link_to 'Delete Picture', picture_path(@picture), method: :delete %>
<% end %>
